main > div {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
}

main > .box > div > .disponible:hover {
    border-color: white;
    filter: brightness(150%);
    cursor: pointer;
}

main .indisponible {
    filter: grayscale(100%);
}